body{
  background-color: $work;
  font-size: 16px;
}



.section{
  &-event{
    min-height: 60vh;
    background: $event;
    padding: 1rem;
  }

  &-university{
    min-height: 75vh;
    background: $university;
    padding: 1rem;
  }

  &-team{
    min-height: 100vh;
    background: $team;
    padding: 1rem;
  }

  &-work{
    min-height:85vh;
    background:$work;
    padding: 1rem;
  }

  &-wtm{
    min-height:85vh;
    background:$wtm;
    padding: 1rem;
  }
}

.title-header{
  position: relative;
  font-size: 3rem;
  line-height: 100%;
  //margin: 1.78rem 0 2.424rem 5rem;
  font-weight: 600;
  top: 3rem;
  padding-bottom: 3rem;
}


.text{
  line-height: 1.5;
  font-size: 1.8rem;
  &-intro{
    font-size: 1.7rem;
    font-style: justify;
  }
}

.card-text{
  font-size: 1rem;
}

.card-team{
    padding:16px;
    min-height: 16rem;
}

.card-team-action{
  border-top: 1px solid rgba(160,160,160,0.5);
  padding-top: 1rem;
  padding-bottom: 1.2rem;
}

#work .card {
  min-height: 260px;
  max-height: 320px;
}
