body{
  background-color: $bg;
}



.section{
  &-50{
    height: 60vh;
    background: $event;
  }

  &-80{
    height: 80vh;
    background: $university;
  }

  &-100{
    height: 100vh;
    background: $team;
  }

  &-work{
    height:80vh;
    background:$work;
  }
}

.title-header{
  position: relative;
  font-size: 3rem;
  line-height: 100%;
  margin: 1.78rem 0 2.424rem 5rem;
  font-weight: 600;
  top: 3rem;
  padding-bottom: 3rem;
}


.text{  
  line-height: 1.5;
  font-size: 1.8rem;
  &-intro{
    font-size: 1.7rem;
    font-style: justify;
  }
}

#work .card {
    height: 200px;
}

.card-content {
  padding: 1rem!important;
}