.site-header{
    top: 0;
    position: absolute;
}

.new-logo{
  position:relative;
  top: -2.7rem;
  > img{
    width:14.2rem;
  }
   transition: all 0.45s linear;
}

.blue{
  transition: all 0.45s linear;
}

.transparent {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    transition: all 0.45s linear;
}

.header-container {
    min-height: 100vh;
    background-image: url(/assets/img/Salvador.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top:0;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}


.color-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: $overlay;
   opacity: 0.8;
   z-index: 1;
}

.flex-center {
  color: white;
  border:none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  resize: vertical;
  overflow: auto;
  h2, h3{
    margin: 0;
    padding: 20px;
  }
  img{
    z-index: 10;
  }
}
