$bg: #F6F4F8;
$blue-gray: #263238;
$primary-color: #009688;
$second-color: #FBBC05;

$footer-copyright-line: #b0bec5;
$overlay: #263238;

$work: #3f51b5;
$event: #8E44AD;
$university: #34495E;
$team: #E74C3C;
$wtm: #295a6a;
