---
layout: default
---
  <section class="">
    <div class="row">
      <h2 class="title-header">GDG Salvador</h2>
        
      <p class="text-intro blue-grey-text">O Google Developer Group(GDG) Salvador é o primeiro grupo do nordeste brasileiro a surgir.
        Nosso objetivo é difundir as tecnologias do Google em nossa cidade, através de eventos técnicos, palestras, cursos, oficinas e etc!</p>
      <p class="blue-grey-text text-intro">Esteja sempre atento às publicações do nosso grupo para ficar por dentro dos próximos eventos!
        <p class="blue-grey-text text-intro"><span class="red-text darken-2">Aviso: GDG Salvador é um grupo independente; nossas atividades e opiniões aqui expressadas não são, de forma nenhuma, associadas ao Google.</p></span>
      </p>
      </div>    
  </section>
  {% include event.html %}
  {% include university.html %}
  {% include team.html %}
