<div id="index-banner" class="parallax-container" role="banner">
    <div class="section no-pad-bot">
      <div class="container">       
        <h1 class="header center yellow-text text-lighten-2">Salvador</h1>
        <div class="row center">
          <h4 class="header yellow-text">Google Developer Group</h4>
        </div>
        <div class="row center">
          <a href="#" class="btn-large light-blue lighten-1">Código de Conduta</a>
        </div>        
      </div>
    </div>
    <div class="parallax">
      <div class="color-overlay"></div>
        <img src="/assets/img/background1.jpg" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 211px, 0px);">
      </div>
  </div>