<div id="index-banner" class="parallax-container" role="banner">
    <div class="section no-pad-bot">
      <div class="container">               
        <div class="row center">          
          <img src="/assets/img/gdglogo.png" class="logo-gdg" alt="google developer group">
          <h4 class="header yellow-text">Google Developer Group</h4>
          <h1 class="header yellow-text">Salvador</h1>
        </div>
        <!-- <div class="row center">
          <a href="#" class="btn-large light-blue lighten-1">Código de Conduta</a>
        </div>         -->
      </div>
    </div>
    <div class="parallax">
      <div class="color-overlay"></div>        
        <img src="/assets/img/background1.jpg" alt="Salvador Baía de Todos-os-Santos" style="display: block; transform: translate3d(-50%, 211px, 0px);">
      </div>
  </div>