<section id="event" class="section-50">
	<div class="row container">
		<header class="col s12 center">
			<h1 class="title-header white-text">Eventos GDGSSA</h1>
		</header>
		<div class="col s12">
			<p class="text white-text"> Estamos sempre dispostos a novos eventos. Se você quer ficar antenado nas iniciativas do GDGSSA, basta sempre da uma conferida no nosso calendário oficial.</p>	
			<div class="center">
				<a href="/" class="blue-effect waves-light btn-large">Calendário Completo de Eventos</a>
			</div>
		</div>
	</div>
</section>
