<header class="site-header navbar-fixed" role="header">
  <nav class="light-transparent" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo white-text">#{{ site.title_min }}</a>
      <ul class="right hide-on-med-and-down">
        {% for page in site.pages %}
          <li><a href="{{ site.url_dev }}{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
      <ul id="nav-mobile" class="side-nav">
        {% for page in site.pages %}
          <li><a href="{{ site.url_dev }}{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</header>