<div class="site-header navbar-fixed">
  <nav class="transparent">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#home" class="new-logo white-text" style="display: none;">
          <img src="/assets/img/logo_gdgssa_horizontal_white.svg" alt="GDG Salvador">
      </a>
      <ul class="right hide-on-med-and-down" aria-label="Menu de navegação principal">
        <li><a href="#about">Sobre</a></li>
        <li><a href="#work">Iniciativas</a></li>
        <li><a href="#event">Eventos</a></li>
        <li><a href="#university">GDG em sua Faculdade</a></li>
        <li><a href="#team">Time</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#work">Iniciativas</a></li>
        <li><a href="#event">Eventos</a></li>
        <li><a href="#university">GDG em sua Faculdade</a></li>
        <li><a href="#team">Time</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons" aria-hidden="true">menu</i></a>
    </div>
  </nav>
</div>