<div class="strike" id="team">
	<span class="blue-grey-text darken-4"><h4>Equipe GDG</h4></span>
</div>
<div class="row">
	<div class="col s12 m3">
		<div class="card">
			<div class="card-image">
				<img src="https://avatars.githubusercontent.com/mvfsilva">				
			</div>
			<div class="card-content">
				<span class="card-title">Marcus Silva</span>
				<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis.</p>
			</div>
			<div class="card-action">
				<svg class="icon"> <use xlink:href="#icon-google-plus"></use> </svg>
				<svg class="icon"> <use xlink:href="#icon-facebook"></use> </svg>
				<svg class="icon"> <use xlink:href="#icon-twitter"></use> </svg>
				<svg class="icon"> <use xlink:href="#icon-github-alt"></use> </svg>
			</div>
		</div>
	</div>

	<div class="col s12 m3">
		<div class="card">
			<div class="card-image">
				<img src="https://avatars.githubusercontent.com/marloncarvalho">				
			</div>
			<div class="card-content">
				<span class="card-title">Marlon Carvalho</span>
				<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis.</p>
			</div>
			<div class="card-action">
				<svg class="icon"> <use xlink:href="#icon-google-plus"></use> </svg>
				<svg class="icon"> <use xlink:href="#icon-facebook"></use> </svg>
				<svg class="icon"> <use xlink:href="#icon-twitter"></use> </svg>
				<svg class="icon"> <use xlink:href="#icon-github-alt"></use> </svg>
			</div>
		</div>
	</div>

	<div class="col s12 m3">
		<div class="card">
			<div class="card-image">
				<img src="https://avatars.githubusercontent.com/marladore">				
			</div>
			<div class="card-content">
				<span class="card-title">Marla Dore</span>
				<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis.</p>
			</div>
			<div class="card-action">
				<svg class="icon"> <use xlink:href="#icon-google-plus"></use> </svg>
				<svg class="icon"> <use xlink:href="#icon-facebook"></use> </svg>
				<svg class="icon"> <use xlink:href="#icon-twitter"></use> </svg>
				<svg class="icon"> <use xlink:href="#icon-github-alt"></use> </svg>
			</div>
		</div>
	</div>

	<div class="col s12 m3">
		<div class="card">
			<div class="card-image">
				<img src="https://avatars.githubusercontent.com/ramonmluz">				
			</div>
			<div class="card-content">
				<span class="card-title">Ramon Mota</span>
				<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis.</p>
			</div>
			<div class="card-action">
				<svg class="icon"> <use xlink:href="#icon-google-plus"></use> </svg>
				<svg class="icon"> <use xlink:href="#icon-facebook"></use> </svg>
				<svg class="icon"> <use xlink:href="#icon-twitter"></use> </svg>
				<svg class="icon"> <use xlink:href="#icon-github-alt"></use> </svg>
			</div>
		</div>
	</div>

	

</div>