<section id="team" class="section-team">
	<div class="row container">
		<header class="col s12 center">
			<h1 class="center title-header white-text">Equipe GDG Salvador</h1>
		</header>
		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="https://avatars.githubusercontent.com/mvfsilva">				
				</div>
				<div class="card-team">
					<span class="card-title">Marcus Silva</span>
					<p class="black-text">Apaixonado por código, inovações e café. Curti trabalhar em projetos desafiadores e criativos, nas horas vagas curti jogar ou aprender algo novo. </p>
				</div>
				<div class="card-team-action center">
					<a href="https://plus.google.com/u/0/+MarcusViniciusSoftwareDeveloper"><svg class="icon"><use xlink:href="#icon-google-plus"></use></svg></a>
					<a href="https://www.facebook.com/mvfsilva91"><svg class="icon"><use xlink:href="#icon-facebook"></use> </svg></a>
					<a href="https://www.twitter.com/mvfsillva"><svg class="icon"><use xlink:href="#icon-twitter"></use></svg></a>
					<a href="https://www.github.com/mvfsilva"><svg class="icon"><use xlink:href="#icon-github-alt"></use></svg></a>
				</div>
			</div>
		</div>

		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="https://avatars.githubusercontent.com/marloncarvalho">				
				</div>
				<div class="card-team">
					<span class="card-title">Marlon Carvalho</span>
					<p class="black-text">Desenvolvedor apaixonado por codificação em todos os tipos de soluções . Ultimamente brinco com Dart e estou caindo de amor por ele</p>
				</div>
				<div class="card-team-action center">
					<a href="https://plus.google.com/u/0/+MarlonCarvalho"><svg class="icon"><use xlink:href="#icon-google-plus"></use></svg></a>
					<a href="https://www.facebook.com/marlon.silvacarvalho.net"><svg class="icon"> <use xlink:href="#icon-facebook"></use></svg></a>
					<a href="https://twitter.com/marlonscarvalho"> <svg class="icon"><use xlink:href="#icon-twitter"></use></svg></a>
					<a href="https://github.com/marloncarvalho"><svg class="icon"><use xlink:href="#icon-github-alt"></use></svg></a>
				</div>
			</div>
		</div>

		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="https://avatars.githubusercontent.com/marladore">				
				</div>
				<div class="card-team">
					<span class="card-title">Marla Dore</span>
					<p class="black-text">Consultora em Inovação e Gestão de TI, Pesquisadora, Prof e Coord. Adj de ADS e Redes da Unijorge. Integrante do GDG SSA. Lider WTM SSA.</p>
				</div>
				<div class="card-team-action center">
					<a href="https://plus.google.com/+MarlaDore"><svg class="icon"> <use xlink:href="#icon-google-plus"></use></svg></a>
					<a href="https://www.facebook.com/marladore"><svg class="icon"> <use xlink:href="#icon-facebook"></use></svg></a>
					<a href="https://twitter.com/marladore"><svg class="icon"> <use xlink:href="#icon-twitter"></use></svg></a>
					<a href="https://github.com/marladore"><svg class="icon"> <use xlink:href="#icon-github-alt"></use></svg></a>
				</div>
			</div>
		</div>

		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="https://avatars.githubusercontent.com/ramonmluz">				
				</div>
				<div class="card-team">
					<span class="card-title">Ramon Mota</span>
					<p class="black-text">Desenvolvedor, especialista e fã da computação Ubíqua, atualmente aficionado pelo desenvolvimento para Android Wear.</p>
				</div>
				<div class="card-team-action center">
					<a href="https://plus.google.com/112844703250664662874"><svg class="icon"><use xlink:href="#icon-google-plus"></use></svg></a>
					<a href="https://www.facebook.com/ramon.mota.9461"><svg class="icon"><use xlink:href="#icon-facebook"></use></svg></a>
					<a href="https://twitter.com/ramonmluz"><svg class="icon"> <use xlink:href="#icon-twitter"></use></svg></a>
					<a href="https://www.twitter.com/ramonmluz"><svg class="icon"><use xlink:href="#icon-github-alt"></use></svg></a>
				</div>
			</div>
		</div>
	</div>
</section>