<section id="team" class="section-team">
	<div class="row container">
		<header class="col s12 center">
			<h2 class="center title-header white-text">Equipe GDG Salvador</h2>
		</header>
		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="https://avatars.githubusercontent.com/mvfsilva" alt=" ">
				</div>
				<div class="card-team">
					<span class="card-title">Marcus Silva</span>
					<p class="black-text">Apaixonado por código, inovações e café. Gosta de trabalhar em projetos desafiadores e criativos, nas horas vagas curte jogar ou aprender algo novo.</p>
				</div>
				<div class="card-team-action center">
					<a href="https://plus.google.com/u/0/+MarcusViniciusSoftwareDeveloper">
						<span class="sr-only">Perfil de Marcus Silva no Google Plus</span>
						<svg class="icon" aria-label="Perfil de Marcus Silva no Google Plus">
							<use xlink:href="#icon-google-plus"></use>
						</svg>
					</a>
					<a href="https://www.facebook.com/mvfsilva91">
						<span class="sr-only">Perfil de Marcus Silva no Facebook</span>
						<svg class="icon" aria-label="Perfil de Marcus Silva no facebook">
							<use xlink:href="#icon-facebook"></use>
						</svg>
					</a>
					<a href="https://www.twitter.com/mvfsillva">
						<span class="sr-only">Perfil de Marcus Silva no Twitter</span>
						<svg class="icon" aria-label="Perfil de Marcus Silva no twitter">
							<use xlink:href="#icon-twitter"></use>
						</svg>
					</a>
					<a href="https://www.github.com/mvfsilva">
						<span class="sr-only">Perfil de Marcus Silva no Github</span>
						<svg class="icon" aria-label="Perfil de Marcus Silva no github">
							<use xlink:href="#icon-github-alt"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>

		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="https://avatars.githubusercontent.com/marloncarvalho" alt=" ">
				</div>
				<div class="card-team">
					<span class="card-title">Marlon Carvalho</span>
					<p class="black-text">Desenvolvedor apaixonado por codificação em todos os tipos de soluções . Ultimamente brinco com Dart e estou caindo de amor por ele</p>
				</div>
				<div class="card-team-action center">
					<a href="https://plus.google.com/u/0/+MarlonCarvalho">
						<span class="sr-only">Perfil de Marlon Carvalho no Google Plus</span>
						<svg class="icon" aria-label="Perfi de Marlon Carvalho no google plus">
							<use xlink:href="#icon-google-plus"></use>
						</svg>
					</a>
					<a href="https://www.facebook.com/marlon.silvacarvalho.net">
						<span class="sr-only">Perfil de Marlon Carvalho no Facebook</span>
						<svg class="icon" aria-label="Perfi de Marlon Carvalho no facebook">
							<use xlink:href="#icon-facebook"></use>
						</svg>
					</a>
					<a href="https://twitter.com/marlonscarvalho">
						<span class="sr-only">Perfil de Marlon Carvalho no Twitter</span>
						<svg class="icon" aria-label="Perfi de Marlon Carvalho no twitter">
							<use xlink:href="#icon-twitter"></use>
						</svg>
					</a>
					<a href="https://github.com/marloncarvalho">
						<span class="sr-only">Perfil de Marlon Carvalho no Github</span>
						<svg class="icon" aria-label="Perfi de Marlon Carvalho no github">
							<use xlink:href="#icon-github-alt"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>

		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="https://avatars.githubusercontent.com/marladore" alt=" ">
				</div>
				<div class="card-team">
					<span class="card-title">Marla Dore</span>
					<p class="black-text">Consultora em Inovação e Gestão de TI, Pesquisadora, Prof e Coord. Adj de ADS e Redes da Unijorge. Integrante do GDG SSA. Lider WTM SSA.</p>
				</div>
				<div class="card-team-action center">
					<a href="https://plus.google.com/+MarlaDore">
						<span class="sr-only">Perfil de Marla Dore no Google Plus</span>
						<svg class="icon" aria-label="Perfi de Marla Dore no google plus">
							<use xlink:href="#icon-google-plus"></use>
						</svg>
					</a>
					<a href="https://www.facebook.com/marladore">
						<span class="sr-only">Perfil de Marla Dore no Facebook</span>
						<svg class="icon" aria-label="Perfi de Marla Dore no facebook">
							<use xlink:href="#icon-facebook"></use>
						</svg>
					</a>
					<a href="https://twitter.com/marladore">
						<span class="sr-only">Perfil de Marla Dore no Twitter</span>
						<svg class="icon" aria-label="Perfi de Marla Dore no twitter">
							<use xlink:href="#icon-twitter"></use>
						</svg>
					</a>
					<a href="https://github.com/marladore">
						<span class="sr-only">Perfil de Marla Dore no Github</span>
						<svg class="icon" aria-label="Perfi de Marla Dore no github">
							<use xlink:href="#icon-github-alt"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>

		<div class="col s12 m3">
			<div class="card">
				<div class="card-image">
					<img src="https://avatars.githubusercontent.com/ramonmluz" alt=" ">
				</div>
				<div class="card-team">
					<span class="card-title">Ramon Mota</span>
					<p class="black-text">Desenvolvedor, especialista e fã da computação Ubíqua, atualmente aficionado pelo desenvolvimento para Smartwatches através do Android Wear.</p>
				</div>
				<div class="card-team-action center">
					<a href="https://plus.google.com/112844703250664662874">
						<span class="sr-only">Perfil de Ramon Mota no Google Plus</span>
						<svg class="icon" aria-label="Perfi de Ramon Mota no google plus">
							<use xlink:href="#icon-google-plus"></use>
						</svg>
					</a>
					<a href="https://www.facebook.com/ramon.mota.9461">
						<span class="sr-only">Perfil de Ramon Mota no Facebook</span>
						<svg class="icon" aria-label="Perfi de Ramon Mota no facebook">
							<use xlink:href="#icon-facebook"></use>
						</svg>
					</a>
					<a href="https://twitter.com/ramonmluz">
						<span class="sr-only">Perfil de Ramon Mota no Twitter</span>
						<svg class="icon" aria-label="Perfi de Ramon Mota no twitter">
							<use xlink:href="#icon-twitter"></use>
						</svg>
					</a>
					<a href="https://www.twitter.com/ramonmluz">
						<span class="sr-only">Perfil de Ramon Mota no Github</span>
						<svg class="icon" aria-label="Perfi de Ramon Mota no github">
							<use xlink:href="#icon-github-alt"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>