<section id="university" class="section-80">
	<div class="row container">
		<header class="col s12 center">
			<h1 class="title-header white-text">GDG em sua Universidade</h1>	
		</header>
		
		<div class="col s12">
			<p class="text white-text">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>	
			<div class="center">
				<a href="/" class="waves-effect waves-light btn-large">Preencha o formulario</a>	
			</div>	
		</div>
	</div>
</section>