<section id="university" class="section-university">
	<div class="row container">
		<header class="col s12 center">
			<h2 class="title-header white-text">GDG em sua Universidade</h2>
		</header>

		<div class="col s12">
			<p class="text white-text">
					É importante sair da faculdade sabendo além do que foi visto em sala de aula. Pensando nisso, levaremos ao ambiente universitário conhecimentos que estão em alta no mercado de trabalho, promovendo palestras, discussões, etc. Nos ajude a promover em sua instituição, preencha o formulário abaixo e aguarde nosso retorno via e-mail.
			</p>
			<div class="center">
				<a href="http://goo.gl/forms/7KN8OT2jlE" class="waves-effect waves-light btn-large">Preencha o formulario</a>
			</div>
		</div>
	</div>
</section>
