<section id="wtm" class="section-wtm">
  <div class="row container">
    <header class="col s12 center">
      <img src="/assets/img/wtm.png" alt="Women Techmakers">
      <h2 class="title-header white-text">Women Techmakers</h2>
    </header>

    <div class="col s12">
      <p class="text white-text">O Women Techmakers (WTM) é um programa criado pelo Google cujo objetivo é incentivar a participação das mulheres na tecnologia. Cada GDG pode ter um WTM associado a ele. O WTM deve ter pelo menos um líder, que deve fazer parte da organização do GDG. O WTM segue o mesmo padrão do GDG: cada cidade pode ter um (desde que juntos).</p>
      <p class="text white-text">O WTM é uma comunidade dentro do GDG para incentivar mulheres na área de tecnologia. O WTM Salvador ou WTM SSA vem trabalhado junto com o GDG SSA para incluir mais mulheres participando dos eventos, seja como ouvinte, seja como palestrante.</p>
      <p class="text white-text">Quer participar dos nossos eventos? Siga nossos canais ou entre em contato com nossa leader WTM Salvador @marladore ou um dos demais organizadores do GDG SSA.</p>
    </div>
  </div>
</section>
