body {
  background-color: #fcfcfc; }

.parallax-container {
  min-height: 100vh;
  background-image: url(/assets/img/background1.jpg);
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9); }

.logo-gdg {
  width: 12rem; }

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #263238;
  opacity: 0.8;
  z-index: 1; }

.flow-text {
  text-align: justify; }

.footer-copyright {
  border-top: 1px solid #b0bec5; }

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  color: #263238;
  padding: 20px 50px 30px 50px; }
  .strike > span {
    position: relative;
    display: inline-block; }
    .strike > span:before {
      right: 100%;
      margin-right: 15px; }
    .strike > span:after {
      left: 100%;
      margin-left: 15px; }

.strike > span:before, .strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #263238; }
