.site-header {
  top: 0;
  position: absolute; }

.new-logo {
  position: relative;
  top: -2.7rem;
  transition: all 0.45s linear; }
  .new-logo > img {
    width: 14.2rem; }

.blue {
  transition: all 0.45s linear; }

.transparent {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  transition: all 0.45s linear; }

.header-container {
  min-height: 100vh;
  background-image: url(/assets/img/Salvador.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9); }

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #263238;
  opacity: 0.8;
  z-index: 1; }

.flex-center {
  color: white;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  resize: vertical;
  overflow: auto; }
  .flex-center h2, .flex-center h3 {
    margin: 0;
    padding: 20px; }

body {
  background-color: #F6F4F8; }

.section-50 {
  height: 50vh;
  background: #8E44AD; }

.section-80 {
  height: 80vh;
  background: #34495E; }

.section-100 {
  height: 100vh;
  background: #E74C3C; }

.section-work {
  height: 80vh;
  background: #3f51b5; }

.title-header {
  position: relative;
  font-size: 3rem;
  line-height: 100%;
  margin: 1.78rem 0 2.424rem 5rem;
  font-weight: 600;
  top: 3rem;
  padding-bottom: 3rem; }

.text {
  line-height: 1.5;
  font-size: 1.8rem; }
  .text-intro {
    font-size: 1.7rem;
    font-style: justify; }

#work .card {
  height: 200px; }

footer {
  padding-top: 1.5rem; }

.footer-copyright {
  border-top: 1px solid #b0bec5;
  padding: 1rem; }

.icon {
  width: 2rem;
  height: 2rem;
  margin: 5px; }

* {
  font-family: 'Raleway', sans-serif; }
