.site-header {
  top: 0;
  position: absolute; }

.new-logo {
  position: relative;
  top: -2.7rem;
  transition: all 0.45s linear; }
  .new-logo > img {
    width: 14.2rem; }

.blue {
  transition: all 0.45s linear; }

.transparent {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  transition: all 0.45s linear; }

.header-container {
  min-height: 100vh;
  background-image: url(/assets/img/Salvador.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9); }

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #263238;
  opacity: 0.8;
  z-index: 1; }

.flex-center {
  color: white;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  resize: vertical;
  overflow: auto; }
  .flex-center h2, .flex-center h3 {
    margin: 0;
    padding: 20px; }

body {
  background-color: #3f51b5;
  font-size: 16px; }

.section-event {
  min-height: 60vh;
  background: #8E44AD;
  padding: 1rem; }

.section-university {
  min-height: 75vh;
  background: #34495E;
  padding: 1rem; }

.section-team {
  min-height: 100vh;
  background: #E74C3C;
  padding: 1rem; }

.section-work {
  min-height: 85vh;
  background: #3f51b5;
  padding: 1rem; }

.title-header {
  position: relative;
  font-size: 3rem;
  line-height: 100%;
  font-weight: 600;
  top: 3rem;
  padding-bottom: 3rem; }

.text {
  line-height: 1.5;
  font-size: 1.8rem; }
  .text-intro {
    font-size: 1.7rem;
    font-style: justify; }

.card-text {
  font-size: 1rem; }

.card-team {
  padding: 16px;
  min-height: 16rem; }

.card-team-action {
  border-top: 1px solid rgba(160, 160, 160, 0.5);
  padding-top: 1rem;
  padding-bottom: 1.2rem; }

#work .card {
  min-height: 260px;
  max-height: 320px; }

footer {
  padding-top: 1.5rem; }

.footer-copyright {
  border-top: 1px solid #b0bec5;
  padding: 1rem; }

footer .title {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0; }

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 2px; }

* {
  font-family: 'Raleway', sans-serif; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }
