<!doctype html>
<html>

  {% include head.html %}

  <body data-spy="scroll" data-target=".navbar-example">

    {% include header.html %}

    <section class="main" id="home">
        <div class="container">
          <div class="starter-template">
            <h1>{{site.conf.title}}</h1>
            <p class="lead">{{site.conf.sub_title}}</p>
            {% if site.city_image %}
              <img class="igrejinha img-responsive" src="{{ site.city_image | prepend: site.baseurl | prepend: site.url }}"/>
            {% endif %}
          </div>
      </div>
    </section>

    {{ content }}

    {% include footer.html %}
    {% include javascripts.html %}

</body>
</html>
